[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"
flake8 = "*"

[packages]
jinja2 = "*"
pyyaml = "*"
exif = "*"
pillow = "*"
geopy = "*"
gpxpy = "*"
click = "*"
markdown = "*"

[requires]
python_version = "3.9"
