.map-trip {
    width: 80%;
    height: calc(80vw * 0.5);
    max-height: 600px;
}

.map-trip-day {
    width: 80%;
    height: calc(80vw * 0.5);
    max-height: 600px;
}

#content {
    height: 100vh;
    overflow-y: auto;
}