<div class="flex-column flex-shrink-0 p-3 bg-light sticky-top" style="width: 250px;" id="navbar-main">
    <a href="/" class="align-items-center link-dark text-decoration-none">
        <i class="bi-globe me-2 fs-3"></i>
        <span class="fs-2">Trip log</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a href="#summary" class="nav-link link-dark active">
                <i class="bi-house-door me-1"></i>
                Summary
            </a>
        </li>
    </ul>
    <hr>
    <ul class="nav nav-pills flex-column">
        {% for trip_day in trip.trip_days %}
        <li class="nav-item">
            <a href="#day-{{ trip_day.date }}" class="nav-link link-dark">
                <i class="bi-calendar3 me-1"></i>
                {{ trip_day.date }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <hr>
</div>